/app/**/*
!/app/fonts
!/app/fonts/**/*
!/app/App_Resources
!/app/App_Resources/**/*

/hooks
/lib
/node_modules
/platforms
/typingz-i386
/typingz-x86_64

/src/node_modules

*.DS_STORE
*.log
*.keystore
